<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service
          name="WCFWindowsService.CalculatorService"
          behaviorConfiguration="">
        <endpoint address="http://localhost:8732/CalculatorService"
           binding="webHttpBinding"
           bindingConfiguration=""
           name="CalculatorService_WebHttp"
           contract="WCFWindowsService.ICalculator" />
      </service>
    </services>
  </system.serviceModel>
</configuration>